$background-color: #000000;
$text-gradient1: #dfc26a;
$text-gradient2: #c99d1c;
$text-gradient3: #423412;
$text-gradient4: #c99d1c;
$snake-border-color: #6e5c0c;

$snake-border-width: 2px;
$snake-animation-delay: 1.1s;
$snake-size-transition: 1s;
$container-opacity-transition: .5s;